/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  color: #999;
  font-size: .8em;
  line-height: inherit;
  vertical-align: top;
  background-image: none;
  line-height: 1em;
  background-position: 0 0;
  margin: 0 0 1em 0;
  background-repeat: repeat;
  display: block; 
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.03);;
}

[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}


/* icons */
.foundicon-settings:before {
  content: "\f000";
}

.foundicon-heart:before {
  content: "\f001";
}

.foundicon-star:before {
  content: "\f002";
}

.foundicon-plus:before {
  content: "\f003";
}

.foundicon-minus:before {
  content: "\f004";
}

.foundicon-checkmark:before {
  content: "\f005";
}

.foundicon-remove:before {
  content: "\f006";
}

.foundicon-mail:before {
  content: "\f007";
}

.foundicon-calendar:before {
  content: "\f008";
}

.foundicon-page:before {
  content: "\f009";
}

.foundicon-tools:before {
  content: "\f00a";
}

.foundicon-globe:before {
  content: "\f00b";
}

.foundicon-home:before {
  content: "\f00c";
}

.foundicon-quote:before {
  content: "\f00d";
}

.foundicon-people:before {
  content: "\f00e";
}

.foundicon-monitor:before {
  content: "\f00f";
}

.foundicon-laptop:before {
  content: "\f010";
}

.foundicon-phone:before {
  content: "\f011";
}

.foundicon-cloud:before {
  content: "\f012";
}

.foundicon-error:before {
  content: "\f013";
}

.foundicon-right-arrow:before {
  content: "\f014";
}

.foundicon-left-arrow:before {
  content: "\f015";
}

.foundicon-up-arrow:before {
  content: "\f016";
}

.foundicon-down-arrow:before {
  content: "\f017";
}

.foundicon-trash:before {
  content: "\f018";
}

.foundicon-add-doc:before {
  content: "\f019";
}

.foundicon-edit:before {
  content: "\f01a";
}

.foundicon-lock:before {
  content: "\f01b";
}

.foundicon-unlock:before {
  content: "\f01c";
}

.foundicon-refresh:before {
  content: "\f01d";
}

.foundicon-paper-clip:before {
  content: "\f01e";
}

.foundicon-video:before {
  content: "\f01f";
}

.foundicon-photo:before {
  content: "\f020";
}

.foundicon-graph:before {
  content: "\f021";
}

.foundicon-idea:before {
  content: "\f022";
}

.foundicon-mic:before {
  content: "\f023";
}

.foundicon-cart:before {
  content: "\f024";
}

.foundicon-address-book:before {
  content: "\f025";
}

.foundicon-compass:before {
  content: "\f026";
}

.foundicon-flag:before {
  content: "\f027";
}

.foundicon-location:before {
  content: "\f028";
}

.foundicon-clock:before {
  content: "\f029";
}

.foundicon-folder:before {
  content: "\f02a";
}

.foundicon-inbox:before {
  content: "\f02b";
}

.foundicon-website:before {
  content: "\f02c";
}

.foundicon-smiley:before {
  content: "\f02d";
}

.foundicon-search:before {
  content: "\f02e";
}


/* social icons */
.social.foundicon-thumb-up:before {
  content: "\f000";
}

.social.foundicon-thumb-down:before {
  content: "\f001";
}

.social.foundicon-rss:before {
  content: "\f002";
}

.social.foundicon-facebook:before {
  content: "\f003";
}

.social.foundicon-twitter:before {
  content: "\f004";
}

.social.foundicon-pinterest:before {
  content: "\f005";
}

.social.foundicon-github:before {
  content: "\f006";
}

.social.foundicon-path:before {
  content: "\f007";
}

.social.foundicon-linkedin:before {
  content: "\f008";
}

.social.foundicon-dribbble:before {
  content: "\f009";
}

.social.foundicon-stumble-upon:before {
  content: "\f00a";
}

.social.foundicon-behance:before {
  content: "\f00b";
}

.social.foundicon-reddit:before {
  content: "\f00c";
}

.social.foundicon-google-plus:before {
  content: "\f00d";
}

.social.foundicon-youtube:before {
  content: "\f00e";
}

.social.foundicon-vimeo:before {
  content: "\f00f";
}

.social.foundicon-flickr:before {
  content: "\f010";
}

.social.foundicon-slideshare:before {
  content: "\f011";
}

.social.foundicon-picassa:before {
  content: "\f012";
}

.social.foundicon-skype:before {
  content: "\f013";
}

.social.foundicon-steam:before {
  content: "\f014";
}

.social.foundicon-instagram:before {
  content: "\f015";
}

.social.foundicon-foursquare:before {
  content: "\f016";
}

.social.foundicon-delicious:before {
  content: "\f017";
}

.social.foundicon-chat:before {
  content: "\f018";
}

.social.foundicon-torso:before {
  content: "\f019";
}

.social.foundicon-tumblr:before {
  content: "\f01a";
}

.social.foundicon-video-chat:before {
  content: "\f01b";
}

.social.foundicon-digg:before {
  content: "\f01c";
}

.social.foundicon-wordpress:before {
  content: "\f01d";
}

